* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #42c3d7;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  background: #bf0302;
}
h1 {
  text-align: center;
  padding: 20px 0;
  font-weight: 300;
}
footer {
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 10px;
  font-size: 20px;
}
p {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
/*-----------------  ------------------*/
/* Construção */
.baymax {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #FFF;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  margin-top: -250px;
  box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.2);
  background: #FFF;
  background: -moz-linear- gradient(45deg, #bfbfbf 0%, #fefefe 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #bfbfbf), color-stop(100%, #fefefe));
  background: -ms-linear- gradient(45deg, #bfbfbf 0%, #fefefe 100%);
  background: linear- gradient(45deg, #bfbfbf 0%, #fefefe 100%);
}
.baymax::after {
  content: '';
  width: 85%;
  height: 85%;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  right: 10px;
  top: 10px;
}
.baymax .eyes .l-eye,
.baymax .eyes .r-eye {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #111;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  top: 50%;
  z-index: 9;
  box-shadow: 2px 2px 0 rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 2px 2px 0 rgba(255, 255, 255, 0.7);
  overflow: hidden;
  background-clip: padding-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.baymax .eyes .l-eye {
  left: 50px;
}
.baymax .eyes .r-eye {
  right: 50px;
}
.baymax .eyes .line {
  width: 380px;
  height: 10px;
  background: #111;
  position: absolute;
  top: 50%;
  margin-top: 40px;
  left: 55px;
  z-index: 8 ;
  box-shadow: 2px 2px 0 rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 2px 2px 0 rgba(255, 255, 255, 0.7);
}
/* MOUSE HOVER TRANSICOES */
.baymax * {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.l-eye:before,
.r-eye:before {
  content: '';
  width: 100%;
  height: 70%;
  position: absolute;
  background: #CCC;
  top: -100%;
  transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}
.baymax:hover .l-eye:before,
.baymax:hover .r-eye:before {
  top: 0;
}
.baymax:hover .l-eye,
.baymax:hover .r-eye {
  margin-top: 30px;
}
.baymax:hover .line {
  margin-top: 80px;
  width: 340px;
  height: 5px;
  left: 60px;
}

/*# sourceMappingURL=styles.css.map */